version: 2.1

orbs:
  slack: circleci/slack@volatile
  circle-compare-url: iynere/compare-url@0.0.6

executors:
  cli:
    docker:
      - image: circleci/circleci-cli:0.1.2709

workflows:
  version: 2
  main:
    jobs:
      - lint
      - build

      - dev-release:
          requires:
            - build
            - lint

      # - trigger-downstream:
      #     requires:
      #       - dev-release
      #     filters:
      #       branches:
      #         only: master
      #     context: orb-publishing

      # - hold:
      #     type: approval
      #     requires:
      #       - trigger-downstream
      #     filters:
      #       branches:
      #         only: master

      # - dev-promote-patch:
      #     requires:
      #       - hold
      #     filters:
      #       branches:
      #         only: master
      #     context: orb-publishing


jobs:
  lint:
    docker:
      - image: singapore/lint-condo
    steps:
      - checkout
      - run:
          'yamllint .'

  build:
    executor: cli
    steps:
      - checkout
      - run: "echo -e \"token: placeholder\nverbose: false > ~/.circleci/cli.yml\""
      - run: "sh scripts/validate-orbs.sh"

  dev-release:
    executor: cli
    steps:
      - checkout

      - circle-compare-url/reconstruct

      - run:
          name: Publish dev releases of any modified orbs
          command: |
            for ORB in src/*/; do
              orbname=$(basename $ORB)
              echo "circleci orb publish ${ORB}orb.yml opuscapita/${orbname}@dev:${CIRCLE_BRANCH}-${CIRCLE_SHA1} --token XXX"
              circleci orb publish ${ORB}orb.yml opuscapita/${orbname}@dev:${CIRCLE_BRANCH}-${CIRCLE_SHA1} --token $CIRCLECI_API_TOKEN
            done
